a,
body,
div,
header,
html,
img,
li,
p,
section,
span,
ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}

header,
section {
	display: block
}

body {
	line-height: 1
}

ul {
	list-style: none
}

body {
	-webkit-text-size-adjust: none
}

html {
	box-sizing: border-box;
	height: 100%
}

*,
:after,
:before {
	box-sizing: inherit
}

body {
	background: #000;
	background-image: url(images/bg.jpg);
	background-position: top left;
	background-size: cover;
	background-repeat: no-repeat;
	height: 100%
}

body.is-preload *,
body.is-preload :after,
body.is-preload :before {
	-moz-animation: none!important;
	-webkit-animation: none!important;
	-ms-animation: none!important;
	animation: none!important;
	-moz-transition: none!important;
	-webkit-transition: none!important;
	-ms-transition: none!important;
	transition: none!important
}

body {
	color: #666;
	font-family: "Source Sans Pro", Helvetica, sans-serif;
	font-size: 16pt;
	font-weight: 300;
	line-height: 1.65em
}

a {
	-moz-transition: color .2s ease-in-out, border-color .2s ease-in-out;
	-webkit-transition: color .2s ease-in-out, border-color .2s ease-in-out;
	-ms-transition: color .2s ease-in-out, border-color .2s ease-in-out;
	transition: color .2s ease-in-out, border-color .2s ease-in-out;
	color: inherit;
	text-decoration: none
}

a:hover {
	border-bottom-color: transparent!important;
	color: #6bd4c8
}

p {
	margin: 0 0 2em 0
}

section.special {
	text-align: center
}

header p {
	color: #999;
	margin: 0 0 1.5em 0;
	position: relative
}

header.special {
	text-align: center
}

::-webkit-input-placeholder {
	color: #999!important;
	opacity: 1
}

:-moz-placeholder {
	color: #999!important;
	opacity: 1
}

::-moz-placeholder {
	color: #999!important;
	opacity: 1
}

:-ms-input-placeholder {
	color: #999!important;
	opacity: 1
}

.image {
	border-radius: 4px;
	border: 0;
	display: inline-block;
	position: relative
}

.image img {
	border-radius: 4px;
	display: block
}

ul {
	list-style: disc;
	margin: 0 0 2em 0;
	padding-left: 1em
}

ul li {
	padding-left: .5em
}

ul.alt {
	list-style: none;
	padding-left: 0
}

ul.alt li {
	border-top: solid 1px rgba(144, 144, 144, .5);
	padding: .5em 0
}

ul.alt li:first-child {
	border-top: 0;
	padding-top: 0
}

ul.actions {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	cursor: default;
	list-style: none;
	margin-left: -1em;
	padding-left: 0
}

ul.actions li {
	padding: 0 0 0 1em;
	vertical-align: middle
}

ul.actions.special {
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	width: 100%;
	margin-left: 0
}

ul.actions.special li:first-child {
	padding-left: 0
}

.main {
	padding: 6em 0 4em 0
}

#header {
	padding: 9em 0 9em 0;
	color: rgba(255, 255, 255, .75);
	overflow: hidden;
	position: relative;
	text-align: center
}

#header a {
	border-bottom-color: rgba(255, 255, 255, .5)
}

#header a:hover {
	color: #fff
}

#header header p {
	color: #fff
}

#header p {
	margin: 1em 0 0 0
}

#header .actions {
	-moz-justify-content: center;
	-webkit-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
	margin-top: 2.5em;
	margin-left: 0;
	position: relative
}

#header .actions li:first-child {
	padding-left: 0
}

#header .actions:after {
	background: #fff;
	height: 100vh;
	left: 50%;
	position: absolute;
	top: 100%;
	width: 1px
}

#header .inner {
	-moz-transition: -moz-transform 1.5s ease, opacity 2s ease;
	-webkit-transition: -webkit-transform 1.5s ease, opacity 2s ease;
	-ms-transition: -ms-transform 1.5s ease, opacity 2s ease;
	transition: transform 1.5s ease, opacity 2s ease;
	-moz-transition-delay: .25s;
	-webkit-transition-delay: .25s;
	-ms-transition-delay: .25s;
	transition-delay: .25s;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
	position: relative;
	z-index: 1
}

#header .inner .actions {
	-moz-transition: -moz-transform 1.25s ease;
	-webkit-transition: -webkit-transform 1.25s ease;
	-ms-transition: -ms-transform 1.25s ease;
	transition: transform 1.25s ease;
	-moz-transition-delay: 1s;
	-webkit-transition-delay: 1s;
	-ms-transition-delay: 1s;
	transition-delay: 1s;
	-moz-transform: translateY(0);
	-webkit-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
	opacity: 1
}

#header:after {
	-moz-transition: opacity 1s ease;
	-webkit-transition: opacity 1s ease;
	-ms-transition: opacity 1s ease;
	transition: opacity 1s ease;
	content: '';
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%
}

body.is-preload #header .inner {
	-moz-transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-ms-transform: scale(1.05);
	transform: scale(1.05);
	opacity: 0
}

body.is-preload #header .inner .actions {
	-moz-transform: translateY(30em);
	-webkit-transform: translateY(30em);
	-ms-transform: translateY(30em);
	transform: translateY(30em);
	opacity: 0
}

body.is-preload #header:after {
	opacity: 1
}

button,
.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
		background-color: rgba(0, 0, 0, .5);
		border-radius: 4px;
		border: 0;
		box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3);
		color: #fff !important;
		cursor: pointer;
		display: inline-block;
		font-size: 0.9em;
		font-weight: 400;
		height: 2.75em;
		letter-spacing: 0.125em;
		line-height: 2.75em;
		padding: 0 2em;
		text-align: center;
		text-decoration: none;
		text-indent: 0.125em;
		text-transform: uppercase;
		white-space: nowrap;
}

button.small,
.button.small {
		font-size: 0.7em;
}

@media screen and (max-width:1680px) {
	body {
		font-size: 14pt
	}
	#header {
		padding: 6em 0 6em 0
	}
}

@media screen and (max-width:1140px) {
	body {
		font-size: 13pt
	}
	.main {
		padding: 4em 0 2em 0
	}
	#header {
		padding: 5em 0 5em 0;
		background-attachment: scroll
	}
	#header br {
		display: inline
	}
}

@media screen and (max-width:980px) {
	.main {
		padding: 5em 3em 3em 3em
	}
	#header {
		padding: 8em 3em 8em 3em
	}
}

@media screen and (max-width:736px) {
	body {
		font-size: 12pt
	}
	.main {
		padding: 3em 1.5em 1em 1.5em
	}
	#header {
		padding: 4em 3em 4em 3em
	}
	#header .actions {
		margin: 2em 0 0 0
	}
}

@media screen and (max-width:480px).main {
	#header br {
		display: none
	}
}

@media screen and (max-width:320px) {
	body,
	html {
		min-width: 320px
	}
	.main {
		padding: 2em 1em .1em 1em
	}
	#header {
		padding: 3em 1em 3em 1em
	}
}


