a,body,html,li,p,section,ul{
    margin:0;
    padding:8;
    border:0;
    font-size:100%;
    font:inherit;
    vertical-align:baseline
}
section{
    display:block
}
body{
    line-height:1
}
ul{
    list-style:none
}
body{
    -webkit-text-size-adjust:none
}
html{
    box-sizing:border-box;
    height:100%
}
*,:after,:before{
    box-sizing:inherit
}
body{
    background:#000;
    height:100%
}
body{
    color:#666;
    font-family:"Source Sans Pro",Helvetica,sans-serif;
    font-size:16pt;
    font-weight:300;
    line-height:1.65em
}
a{
    -moz-transition:color .2s ease-in-out,border-color .2s ease-in-out;
    -webkit-transition:color .2s ease-in-out,border-color .2s ease-in-out;
    -ms-transition:color .2s ease-in-out,border-color .2s ease-in-out;
    transition:color .2s ease-in-out,border-color .2s ease-in-out;
    color:inherit;
    text-decoration:none
}
a:hover{
    border-bottom-color:transparent!important;
    color:#6bd4c8
}
p{
    margin:0 0 2em 0
}
section.special{
    text-align:center
}
::-webkit-input-placeholder{
    color:#999!important;
    opacity:1
}
:-moz-placeholder{
    color:#999!important;
    opacity:1
}
::-moz-placeholder{
    color:#999!important;
    opacity:1
}
:-ms-input-placeholder{
    color:#999!important;
    opacity:1
}
ul{
    list-style:disc;
    margin:0 0 2em 0;
    padding-left:1em
}
ul li{
    padding-left:.5em
}
@media screen and (max-width:1680px){
    body{
        font-size:14pt
    }
}
@media screen and (max-width:1140px){
    body{
        font-size:13pt
    }
}
@media screen and (max-width:736px){
    body{
        font-size:12pt
    }
}
@media screen and (max-width:320px){
    body,html{
        min-width:320px
    }
}

